html {
    font-size: 62.5%; // 1 rem == 10 px
}

body {
    font-family: $font-primary;
    color: $color-gray-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1{
    @extend %heading;
    font-size: 4.5rem;
    color: $color-gray-light-1;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light {
        color: $color-gray-light-1;
    }

    &--light {
        color: $color-gray-dark-1;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light {
        color: $color-gray-light-1;
    }

    &--light {
        color: $color-gray-dark-1;
    }
}