.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
}

.features {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
    margin-block: 15rem;
}

.story {
    &__pictures {
        background-color: $color-primary-dark;
        grid-column: full-start / col-end 4;
    }

    &__content {
        background-color: $color-gray-light-1;
        grid-column: col-start 5 / full-end;
    }
}

.homes {
    background-color: $color-secondary;
    grid-column: content-start / content-end;
}

.gallery {
    grid-column: full-start / full-end;
}